<head>
	<base href="/">
</head>
<body ng-app="rt600" ng-strict-di="" layout="row" ng-cloak="">
	<md-sidenav
			class="md-sidenav-left"
			md-component-id="left"
			md-is-locked-open="$mdMedia('gt-sm')"
			md-disable-backdrop
			md-whiteframe="4">

			<side-nav></side-nav>
	</md-sidenav>

<div ui-view=""></div>
</body>
