<ul>
	<li>PWR</li>
		<ul>
			<li>FRONT: {{ipcctrl.pwrfront}}</li>
			<li>REAR: {{ipcctrl.pwrrear}}</li>
		</ul>
	<li>ALM</li>
		<ul>
			<li>OFF</li>
		</ul>
	<li>VOLT</li>
		<ul>
			<li>ON</li>
		</ul>
	<li>TEMP</li>
		<ul>
			<li>LOW</li>
		</ul>
</ul>

