<div layout="column">
	<h5 ui-sref="mainpage">HOME</h5>
	<ul>
		<li ui-sref="ipc">IPC</li>
		<li ng-click="sideNav.toggleCPS()">CPS</li>
			<ul ng-hide="sideNav.cpstoggle">
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		<li ng-click="sideNav.toggleMIO()">MIO</li>
			<ul ng-hide="sideNav.miotoggle">
				<li ui-sref="mio1">mio1</li>
				<li>mio2</li>
				<li>mio3</li>
			</ul>
		<li>MR</li>
	</ul>
</div>
